{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}
<div class="cus" style = " padding-left: 40%; margin-top: 8%;">
<form action = '/sudokusolver' method="get">
<textarea id="1" name="1" rows="1" cols="2">
  </textarea>
  <textarea id="2" name="2" rows="1" cols="2">
  </textarea>
  <textarea id="3" name="3" rows="1" cols="2">
  </textarea>
  <textarea id="4" name="4" rows="1" cols="2">
  </textarea>
  <textarea id="5" name="5" rows="1" cols="2">
  </textarea>
  <textarea id="6" name="6" rows="1" cols="2">
  </textarea>
  <textarea id="7" name="7" rows="1" cols="2">
  </textarea>
  <textarea id="8" name="8" rows="1" cols="2">
  </textarea>
  <textarea id="9" name="9" rows="1" cols="2">
  </textarea>
  <br>
  <textarea id="10" name="10" rows="1" cols="2">
  </textarea>
  <textarea id="11" name="11" rows="1" cols="2">
  </textarea>
  <textarea id="12" name="12" rows="1" cols="2">
  </textarea>
  <textarea id="13" name="13" rows="1" cols="2">
  </textarea>
  <textarea id="14" name="14" rows="1" cols="2">
  </textarea>
  <textarea id="15" name="15" rows="1" cols="2">
  </textarea>
  <textarea id="16" name="16" rows="1" cols="2">
  </textarea>
  <textarea id="17" name="17" rows="1" cols="2">
  </textarea>
  <textarea id="18" name="18" rows="1" cols="2">
  </textarea>
  <br>
  <textarea id="19" name="19" rows="1" cols="2">
  </textarea>
  <textarea id="20" name="20" rows="1" cols="2">
  </textarea>
  <textarea id="21" name="21" rows="1" cols="2">
  </textarea>
  <textarea id="22" name="22" rows="1" cols="2">
  </textarea>
  <textarea id="23" name="23" rows="1" cols="2">
  </textarea>
  <textarea id="24" name="24" rows="1" cols="2">
  </textarea>
  <textarea id="25" name="25" rows="1" cols="2">
  </textarea>
  <textarea id="26" name="26" rows="1" cols="2">
  </textarea>
  <textarea id="27" name="27" rows="1" cols="2">
  </textarea>
  <br>
  <textarea id="28" name="28" rows="1" cols="2">
  </textarea>
  <textarea id="29" name="29" rows="1" cols="2">
  </textarea>
  <textarea id="30" name="30" rows="1" cols="2">
  </textarea>
  <textarea id="31" name="31" rows="1" cols="2">
  </textarea>
  <textarea id="32" name="32" rows="1" cols="2">
  </textarea>
  <textarea id="33" name="33" rows="1" cols="2">
  </textarea>
  <textarea id="34" name="34" rows="1" cols="2">
  </textarea>
  <textarea id="35" name="35" rows="1" cols="2">
  </textarea>
  <textarea id="36" name="36" rows="1" cols="2">
  </textarea>
  <br>
  <textarea id="37" name="37" rows="1" cols="2">
  </textarea>
  <textarea id="38" name="38" rows="1" cols="2">
  </textarea>
  <textarea id="39" name="39" rows="1" cols="2">
  </textarea>
  <textarea id="40" name="40" rows="1" cols="2">
  </textarea>
  <textarea id="41" name="41" rows="1" cols="2">
  </textarea>
  <textarea id="42" name="42" rows="1" cols="2">
  </textarea>
  <textarea id="43" name="43" rows="1" cols="2">
  </textarea>
  <textarea id="44" name="44" rows="1" cols="2">
  </textarea>
  <textarea id="45" name="45" rows="1" cols="2">
  </textarea>
  <br>
  <textarea id="46" name="46" rows="1" cols="2">
  </textarea>
  <textarea id="47" name="47" rows="1" cols="2">
  </textarea>
  <textarea id="48" name="48" rows="1" cols="2">
  </textarea>
  <textarea id="49" name="49" rows="1" cols="2">
  </textarea>
  <textarea id="50" name="50" rows="1" cols="2">
  </textarea>
  <textarea id="51" name="51" rows="1" cols="2">
  </textarea>
  <textarea id="52" name="52" rows="1" cols="2">
  </textarea>
  <textarea id="53" name="53" rows="1" cols="2">
  </textarea>
  <textarea id="54" name="54" rows="1" cols="2">
  </textarea>
  <br>
  <textarea id="55" name="55" rows="1" cols="2">
  </textarea>
  <textarea id="56" name="56" rows="1" cols="2">
  </textarea>
  <textarea id="57" name="57" rows="1" cols="2">
  </textarea>
  <textarea id="58" name="58" rows="1" cols="2">
  </textarea>
  <textarea id="59" name="59" rows="1" cols="2">
  </textarea>
  <textarea id="60" name="60" rows="1" cols="2">
  </textarea>
  <textarea id="61" name="61" rows="1" cols="2">
  </textarea>
  <textarea id="62" name="62" rows="1" cols="2">
  </textarea>
  <textarea id="63" name="63" rows="1" cols="2">
  </textarea>
  <br>
  <textarea id="64" name="64" rows="1" cols="2">
  </textarea>
  <textarea id="65" name="65" rows="1" cols="2">
  </textarea>
  <textarea id="66" name="66" rows="1" cols="2">
  </textarea>
  <textarea id="67" name="67" rows="1" cols="2">
  </textarea>
  <textarea id="68" name="68" rows="1" cols="2">
  </textarea>
  <textarea id="69" name="69" rows="1" cols="2">
  </textarea>
  <textarea id="70" name="70" rows="1" cols="2">
  </textarea>
  <textarea id="71" name="71" rows="1" cols="2">
  </textarea>
  <textarea id="72" name="72" rows="1" cols="2">
  </textarea>
  <br>
  <textarea id="73" name="73" rows="1" cols="2">
  </textarea>
  <textarea id="74" name="74" rows="1" cols="2">
  </textarea>
  <textarea id="75" name="75" rows="1" cols="2">
  </textarea>
  <textarea id="76" name="76" rows="1" cols="2">
  </textarea>
  <textarea id="77" name="77" rows="1" cols="2">
  </textarea>
  <textarea id="78" name="78" rows="1" cols="2">
  </textarea>
  <textarea id="79" name="79" rows="1" cols="2">
  </textarea>
  <textarea id="80" name="80" rows="1" cols="2">
  </textarea>
  <textarea id="81" name="81" rows="1" cols="2">
  </textarea>

  <br><br>
  <input type="submit" value="Submit">
</form>
</div>

{% endblock body %}
